<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to 'Main Page', restaurants_path  %>
        <%= link_to 'Add new restaurant', restaurants_new_path  %>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
